/* .about
{
    padding-top: 0;
    text-align: center;
} */

.container1
{
    position: relative;
    width: 90%;
    margin: 0 auto;
    overflow: hidden !important; 
    padding: 80px 0;
    max-width: 100% !important;
    white-space: nowrap;
}

.contenedorgal
{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.conPieP
{
    
    padding: 0px 0;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    overflow: hidden;
}





.titulo{
    text-align: center;
    margin-bottom: 30px;
}
.subtitle
{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 35px;
}



.projects
{
    
    background: #f2f2f2;
}

.projects__grid
{
    filter: blur(0px);
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img4"
    "img1 img1 img3 img5";
    gap: 10px;
}

.projects__item
{
    filter: blur(0px);
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}

.projects__img
{
   filter: blur(0px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* cursor: pointer; */
    position: relative;
    top: 0;
    left: 0;
}

.projects__item:nth-last-of-type(1)
{
    grid-area: img1;

}

.projects__item:nth-last-of-type(2)
{
    grid-area: img2;
    
}

.projects__item:nth-last-of-type(3)
{
    grid-area: img3;
    
}

.projects__item:nth-last-of-type(4)
{
    grid-area: img4;
    
}

.projects__item:nth-last-of-type(5)
{
    grid-area: img5;
    
}
.projects__hover img{
    position: absolute;
    margin-bottom: 100px;
    margin-left: 200px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.projects__hover .imaG{
    position: absolute;
    margin-bottom: 100px;
    margin-left:350px;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.projects__hover
{
    position: absolute;
    
    background: hsla(220.678, 37%, 32%, 0.7); 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(100%);
    cursor: pointer;
    transition: transform 1s ease-in-out ; 
    
    
}
.projects__hover a
{
    color:  #f2f2f2;
}

.projects__img:hover
{
    filter: blur(10px);
}

.projects__item:hover .projects__hover
{
   
    
    transform: translate(0%);
}

.projects__icon
{
    margin-top: 10px;
    font-size: 30px;
}

.projects_title
{
    font-size: 25px;
}

/* GALERIA PRODUCTOS */

.portafolio
{
    background: #f2f2f2;
}

.galeria-port
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port
{
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0);
}

.imagen-port > img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galerias{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(220.678, 37%, 32%, 0.7); 
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galerias img{
    width: 50px;
}

.hover-galerias p{
    color: #fff;
}

.imagen-port:hover .hover-galerias{
    transform: scale(1);

}

   
  /* PIE DE PAGINA */
 

.pieP img
{
    
    width: 100%;
    max-width: 1300px;
    background-size: cover;

}

.MedioAmb
{
    position: relative;
    width: 450px;
    margin-top: 20px;
    margin-bottom: 10px;
    left: 582px;
    
}

.logoFooter
{
    position: relative;
    width: 50px;
    top: -45px;
    left: 160px;
    margin-bottom: 40px;
}
.footerIco
{
    margin-right: 80px;
}
.iconR 
{
    margin-left: 50px;
    font-size: 30px;
}
.linkR
{
    color: #fff;
}
@media  (max-width: 280PX) {
    .MedioAmb{
        left: 63px;
    }
    .imglogoHero
    {
        width: 90%;
        margin-left: 0px;
        margin-top:-57px;
    }
  }

  @media  (max-width: 375px) {
  .tituloResponsive
  {
    font-size: 14px;
    margin: auto;
    font-weight: bold;
    text-align: center;
  }
    .imglogo
    {
        width: 90%;
        margin-left: -85px;
    }
    .MedioAmb{
        margin-left: -496px;
    }
    .imglogoHero
    {
        width: 90%;
        margin-left: 0px;
    }
  }
  @media  (max-width: 390px) {
    .imglogoHero
    {
        width: 70%;
        left: -49px;
    }
    .projects__hover .imaG{
        left: -282px;
    }
    .projects__hover img{
        left: -103px;
    }
    .MedioAmb{
        margin-left: -496px;
    }
  }
  @media  (max-width: 414px) {
    .tituloResponsive
  {
    font-size: 14px;
    margin: auto;
    font-weight: bold;
    text-align: center;
  }
    .imglogo
    {
        width: 90%;
        margin-left: -85px;
    }
    .MedioAmb{
        margin-left: -607px;
    }
    .imglogoHero
    {
        width: 90%;
        margin-left: 18px;
    }
    .projects__hover .imaG{
        left: -282px;
    }
    .projects__hover img{
        left: -103px;
    }
  }

@media  (max-width: 500px) {
    .MedioAmb{
        left: -20px;
    }
  }
  @media  (max-width: 540px) {
    .medioAmbiente{
        margin-top: 90px;

    }
    .MedioAmb{
        left: 63px;
    }
  }

  @media  (max-width: 820px) {
    .MedioAmb{
        left: 201px;
    }
    .imglogoHero
    {
        width: 90%;
        margin-left: 0px;
        margin-bottom: 200px;
    }
    .projects__hover .imaG{
        left: -190px;
    }
    .projects__hover img{
        left: -58px;
    }
  }

  @media  (max-width: 912px) {
    .MedioAmb{
        left: 63px;
    }
    .imglogoHero
    {
        width: 90%;
        margin-left: 0px;
        margin-bottom: 200px;
    }
  }

  @media (min-width: 900px)  {
    .MedioAmb{
      margin-left: -193px;
    }
   
  }

  @media (min-width: 1300px)  {
    .MedioAmb{
      margin-left: -43px;
    }
   
  }
  @media (min-width: 1401px){
    .MedioAmb{
        margin-left: 136px;
      }
  }

  @media  (max-width: 1600px) {
    .projects__hover .imaG{
        position: absolute;
        margin-bottom: 100px;
        margin-left:355px;
        width: 50px;
        justify-content: center;
        align-items: center;
    }
    .MedioAmb{
        left: 582px;
    }
    .imglogoHero
    {
        width: 70%;
        margin-left: 100px;
        margin-bottom: 100px;
    }
  }



